* {
  font-family: Roboto, sans-serif;
}

.irs-bar-edge {
  display: none;
}

.irs-bar {
  background: none;
  border: 0;
}

.btn-group-toggle > .active {
  background-color: green;
  border-color: green;
}

.irs-min, .irs-max, .irs-from, .irs-to {
  visibility: hidden !important;
}

/* From https://raw.githubusercontent.com/gadenbuie/tweet-conf-dash/553fce13a2af723182de142714728bf28e61c5de/www/custom.css */

blockquote.twitter-tweet {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  max-width: 780px;
  background: #FFF;
}

blockquote.twitter-tweet p {
  font-size: 20px;
  font-weight: normal;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
